<!-----------------------------------------------------------
-
- Sololearn Code API - A API to grab best codes from Sololearn
- Copyright(C) 2022 - 2023 Prathamesh Thorat (thoratprathamesh1729@gmail.com)
-
- This software is provided 'as-is', without any express or implied warranty.
- In no event will the authors be held liable for any damages arising from the use of this software.
-
- Permission is granted to anyone to use this software for any purpose,
- including commercial applications, and to alter it and redistribute it freely,
- subject to the following restrictions:
-
- 1. The origin of this software must not be misrepresented
- you must not claim that you wrote the original software.
- If you use this software in a product, an acknowledgment
- in the product documentation would be appreciated but is not required.
-
- 2. Altered source versions must be plainly marked as such,
- and must not be misrepresented as being the original software.
-
- 3. This notice may not be removed or altered from any source distribution.
-
------------------------------------------------------------->

<!DOCTYPE html>
<html lang="en">

<head>
    {{>head_files}}
</head>

<body>
    {{>header}}
    <div id="box">
        <h1 class="page">About</h1>
        <h2>What is Sololearn ?</h2>
        <p>Sololearn is a great social media platform for all the coders and programmers to learn new technologies and
            post their work with the whole community</p>
        <hr>
        <h2>What is Sololearn Code API ?</h2>
        <p>Sololearn Code API is API which provides the data of top 10K trending codes on sololearn which is scrapped
            with help of python <br> <a href="https://www.sololearn.com/">Sololearn.com</a></p>
        <hr>
        <h2>What's the purpose behind this API ?</h2>
        <p>The only perpose is education. I want to test my scrapping and API building skills so I created this</p>
        <hr>
        <h2>How do I use the this ?</h2>
        <p>for that perpose you can watch the <a href="/doc">Documentation</a></p>
    </div>
    {{>footer}}
</body>

</html>